<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleName</key>
  <string>SketchyBarNetworkInfoHelper</string>
  <key>CFBundleDisplayName</key>
  <string>SketchyBar Network Info Helper</string>
  <key>CFBundleIdentifier</key>
  <string>ai.superplanner.SketchyBarNetworkInfoHelper</string>
  <key>CFBundleExecutable</key>
  <string>SketchyBarNetworkInfoHelper</string>
  <key>CFBundleVersion</key>
  <string>1</string>
  <key>CFBundleShortVersionString</key>
  <string>1.0</string>
  <key>LSUIElement</key>
  <true/>
</dict>
</plist>
